{# templates/Back/GestionUser/_form.html.twig #}

{# Start the form with custom attributes, if needed #}
{{ form_start(form, {'attr': {'class': 'row g-3 needs-validation p-4', 'novalidate': 'novalidate'} }) }}
   <div class="col-12">
        {{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label', 'style':'font-weight:500'}}) }}
    
        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'pattern': '^([a-zA-Zéàùç]+[ ]{0,1})+$', 'minlength':'5',  'maxlength':'20' }}) }}

        <div class="invalid-feedback">Please enter a valid name (only letters and spaces, minimum length 5 characters).</div>

    </div>
   
     <div class="col-12">
        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label', 'style':'font-weight:500'}}) }}
           <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
         {{ form_widget(form.email, {'attr': {'class': 'form-control' ,  'maxlength':'50' }}) }}
          <div class="invalid-feedback">Please enter a valid email address.</div>
                 </div>
                
    </div>

    <div class="col-12">
        {{ form_label(form.password, 'Password', {'label_attr': {'class': 'form-label ', 'style':'font-weight:500'}}) }}
  
    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'pattern': '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$',  'maxlength':'25'}}) }}

      
           <div class="invalid-feedback">Please enter a valid password (at least 8 characters, including uppercase, lowercase, and numbers).</div>
    </div>

 
    <div class="col-12">
        {{ form_label(form.role, 'Role', {'label_attr': {'class': 'form-label', 'style':'font-weight:500'}}) }}
        {% for choice in form.role %}
            <div class="form-check">
                {{ form_widget(choice, {'attr': {'class': 'form-check-input','style':'Background-color:#4CAF30'}}) }}
                {{ form_label(choice, null, {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
        {% endfor %}
    </div>

    <div class="col-12" id="register-button-wrapper">
        <button type="submit" class="btn btn-primary w-100" id="submit-button">Register</button>
    </div>
    <div class="col-12">
        <p class="small mb-0">Already have an account? <a href="{{ path('app_login') }}">Log in</a></p>
    </div>

{# End the form #}
{{ form_end(form) }}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var form = document.querySelector('.needs-validation');
    
    form.addEventListener('submit', function(event) {
        if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
        }

        form.classList.add('was-validated');
    });
});
</script>