{# templates/_form.html.twig #}

{# Start the form with custom attributes, if needed #}
{{ form_start(form2, {'attr': {'class': 'row mb-3 needs-validation', 'novalidate': 'novalidate', 'id': 'form-password'}}) }}

<div class="col-md-4 col-lg-3 mb-3">  <!-- field for current password -->
    {{ form_label(form2.CurrentPassword, 'Current Password', {'label_attr': {'class': 'col-form-label label'}}) }}
</div>
<div class="col-md-8 col-lg-9 mb-3">
    {{ form_widget(form2.CurrentPassword, {'attr': {'class': 'form-control', 'placeholder': 'Current Password', 'name': 'CurrentPassword' ,  'maxlength':'30'}}) }}

</div>

<div class="col-md-4 col-lg-3 mb-3">  <!-- field for new password -->
    {{ form_label(form2.NewPassword, 'New Password', {'label_attr': {'class': 'col-form-label label'}}) }}
</div>
<div class="col-md-8 col-lg-9 mb-3">
    {{ form_widget(form2.NewPassword, {'attr': {'class': 'form-control', 'placeholder': 'New Password', 'name': 'NewPassword', 'pattern': '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$' ,  'maxlength':'30'}}) }}
    <div class="invalid-feedback">Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number.</div>
   
</div>

<div class="col-md-4 col-lg-3 mb-3">  <!-- field for confirm password -->
    {{ form_label(form2.ConfirmPassword, 'Confirm Password', {'label_attr': {'class': 'col-form-label label'}}) }}
</div>
<div class="col-md-8 col-lg-9 mb-3">
    {{ form_widget(form2.ConfirmPassword, {'attr': {'class': 'form-control', 'placeholder': 'Confirm Password', 'name': 'ConfirmPassword', 'pattern': '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$' ,  'maxlength':'30'}}) }}
    <div class="invalid-feedback">Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number.</div>
    
</div>

<div class="col-12 text-center">
    <button id="update-button-password" type="submit" class="btn"  style="background-color:#033E6A; color:white;">Update</button>
</div>

{# End the form #}
{{ form_end(form2) }}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('form-password');
    
    form.addEventListener('submit', function(event) {
        if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
        }

        form.classList.add('was-validated');
    });
});
</script>
