{# templates/_form.html.twig #}

{# Start the form with custom attributes, if needed #}
{{ form_start(form1, {'attr': {'class': 'g-3 row mb-3 needs-validation', 'novalidate': 'novalidate', 'id': 'formedit'}}) }}


<div class="col-md-4 col-lg-3">
    {{ form_label(form1.name, 'Name', {'label_attr': {'class': 'form-label'}}) }}
</div>
<div class="col-md-8 col-lg-9">
    {{ form_widget(form1.name, {'attr': {'class': 'form-control', 'pattern': '^([a-zA-Zéàùç]+[ ]{0,1})+$', 'minlength': '5',  'maxlength':'20'}}) }}
    <div class="invalid-feedback">Please enter a valid name (only letters and spaces, minimum length 5 characters).</div>
  
</div>
<div class="col-md-4 col-lg-3">
    {{ form_label(form1.age, 'Age', {'label_attr': {'class': 'form-label'}}) }}
</div>
<div class="col-md-8 col-lg-9">
    {{ form_widget(form1.age, {'attr': {'class': 'form-control', 'pattern': '^\d+$', 'min': '12', 'max': '99'  }}) }}
    <div class="invalid-feedback">Please enter a valid age (only numbers between 12 and 99).</div>
</div>
<div class="col-md-4 col-lg-3">
    {{ form_label(form1.phone, 'Phone', {'label_attr': {'class': 'form-label'}}) }}
</div>
<div class="col-md-8 col-lg-9">
    {{ form_widget(form1.phone, {'attr': {'class': 'form-control', 'pattern': '^[1-9]\d{7}$' , 'maxlength':'8'}}) }}
    <div class="invalid-feedback">Please enter a valid phone number (8 digits).</div>
    
</div>

<div class="col-md-4 col-lg-3">
    {{ form_label(form1.address, 'Address', {'label_attr': {'class': 'form-label'}}) }}
</div>
<div class="col-md-8 col-lg-9">
    {{ form_widget(form1.address, {'attr': {'class': 'form-control', 'minlength': '5',  'maxlength':'35' }}) }}
    <div class="invalid-feedback">Please enter a valid address (minimum length 5 characters).</div>
  
</div>

 
       <div class="col-md-4 col-lg-3">
        {{ form_label(form1.imageFile, 'Image', {'label_attr': {'class': 'form-label'}}) }}
    </div>
    <div class="col-md-8 col-lg-9">
        {{ form_widget(form1.imageFile, {'attr': {'class': 'form-control'}}) }}

    </div>

<div class="col-12 text-center">
    <button id="update-button-edit" type="submit" class="btn" style="background-color:#033E6A; color:white;">Update</button>
</div>

{# End the form #}
{{ form_end(form1) }}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('formedit');
    
    form.addEventListener('submit', function(event) {
        if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
        }

        form.classList.add('was-validated');
    });
});
</script>
