



{# templates/Back/event/_form.html.twig #}

{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.nomEvent, 'Event Name') }}
    {{ form_widget(form.nomEvent, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.datedebut, 'Start Date') }}
    {{ form_widget(form.datedebut, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.datefin, 'End Date') }}
    {{ form_widget(form.datefin, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.entreprise, 'Entreprise') }}
    {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.image, 'Event Image') }}
    {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
</div>

    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}