{% extends 'BaseBack.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
  <h1>Create new Ticket</h1>
<!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

   
                        {% if app.user %} 
                        {% set user = app.user %}
                        {% endif %}
                        

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ path('app_Home') }}" class="logo d-flex align-items-center"> <!-- home -->
        <img src="{{ asset('') }}" alt="">
<span class="d-none d-lg-block"><span style="color:black">R</span>vent</span>      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
            
              {% if user.image == null %}
              {% set imagePath = 'uploads/images/default.jpg' %}
              {% else %}
              {% set imagePath = 'uploads/images/' ~ user.image %}
              {% endif %}

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ asset(imagePath) }}" alt="Profile" class="rounded-circle" >
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.Name}}</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.name}}</h6>
              <span>
              {{user.Role}}
              </span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
          <a class="dropdown-item d-flex align-items-center" href="{{ path('app_user_profile') }}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
          

          
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ path('app_login') }}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul>
        </li>

      </ul>
    </nav>

  </header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
    <a class="nav-link" href="{{ path('app_event_index') }}">
        <i class="bi bi-grid"></i>
        <span>Event</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('app_entreprise_index') }}">
        <i class="bi bi-grid"></i>
        <span>Entreprise</span>
    </a>
</li>

 

    </ul>

  </aside><!-- End Sidebar-->

  
      <main id="main" class="main">
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomevent</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.nomevent }}</td>
                <td>{{ event.datedebut ? event.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ event.datefin ? event.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ event.image }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
