{% extends 'Base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
  
<div class="">
    <div class="d-flex justify-content-center">
        <ul class="nav">
            <li class="nav-item me-3">
                <a class="nav-link btn btn-custom-primary" href="{{ path('app_ticket_index') }}">
                    </i>
                    <span>Ticket</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-custom-primary" href="{{ path('app_reeser_index') }}">
                    </i>
                    <span>Reservation</span>
                </a>
            </li>
        </ul>
    </div>
</div>

     


  
      <main id="main" class="main">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nomreser</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reeser in reesers %}
            <tr>
                <td>{{ reeser.id }}</td>
                <td>{{ reeser.nombre }}</td>
                <td>{{ reeser.nomreser }}</td>
                <td>{{ reeser.date ? reeser.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_reeser_show', {'id': reeser.id}) }}">show</a>
                    <a href="{{ path('app_reeser_edit', {'id': reeser.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        <div class="pagination">
        {{ knp_pagination_render(reesers) }}
    </div>
        </tbody>
    </table>
    

    <a href="{{ path('app_reeser_new') }}">Create new</a>
    
{% endblock %}
