{% extends 'BaseBack.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<header id="header" class="header fixed-top d-flex align-items-center">

     <div class="d-flex align-items-center justify-content-between">
      <a href="{{ path('app_Home') }}" class="logo d-flex align-items-center"> <!-- home -->
        <span class="d-none d-lg-block"><span style="color:black">R</span>vent</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->





</header>
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">



        <li class="nav-heading">Gestion User</li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_user_index') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('app_user_dashboard') }}"> <!-- user pROFILE PAGE -->
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

</aside>


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Table Page</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Pages</li> <!-- user pROFILE PAGE -->
        <li class="breadcrumb-item active">Table</li>

      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <table class="table datatable">
      <thead>
        <tr>

          <th>Email</th>
          <th>Password</th>
          <th>Name</th>
          <th>Age</th>
          <th>Phone</th>

          <th>Role</th>



        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>

          <td>{{ user.Email }}</td>
          <td>{{ user.Password }}</td>
          <td>{{ user.Name }}</td>
          <td>{{ user.Age }}</td>
          <td>{{ user.Phone }}</td>

          <td>{{ user.Role }}</td>




        </tr>
        {% else %}
        <tr>
          <td colspan="13">no records found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

</main>


{% endblock %}